Repository DarklightGames/DarkestHour, changes with the labels that .github/labeler.yml gives for each.
All labels: edits levels, edits textures, edits animations, edits statics, edits audio

Added MP3008 to weapon registry
  DH_Engine/Classes/DHWeaponRegistry.uc
Labels: none

Fixed exploit where players could fast-attach bayonet by dropping weapon
  DH_Engine/Classes/DHProjectileWeapon.uc
Labels: none

St Marie du Mont Advance: Fixed wrong Win music sound group set for Allies.
  DarkestHourDev/Maps/DH-St_Marie_du_Mont_Advance.rom
Labels: edits levels

Kommerscheidt Advance: Fixed a typo in the "Intersection" objective name, added a basic map description and set a preview image.
  DarkestHourDev/Maps/DH-Kommerscheidt_Advance.rom
Labels: edits levels

Importation of the map 'Champs De Losque' in the DH's map package. The map is ready for a test to check any gameplay, buildings or other errors.
  DarkestHourDev/Maps/DH-Les_Champs_de_Losque_Advance.rom
Labels: edits levels

Imported Lehr textures for Champs de Losque.
  DarkestHourDev/Textures/DHGermanCharactersTex.utx
Labels: edits textures

Revert "Imported Lehr textures for Champs de Losque."
  DarkestHourDev/Textures/DHGermanCharactersTex.utx
Labels: edits textures

Importing Panzer Lehr uniforms for Champs De Losque in the german uniforms package 'heer'.
  DarkestHourDev/Textures/DHGermanCharactersTex.utx
Labels: edits textures

Fixed exploit where players could fast-attach bayonet by dropping weapon (#1369)
  DH_Engine/Classes/DHProjectileWeapon.uc
Labels: none

Fixed a "whitewashed texture" bug on M5 gun wreck (#1368)
  DarkestHourDev/Textures/DH_M5Gun_tex.utx
Labels: edits textures

Updated DHEd.bat to run make in the Python venv
  System/DHEd.bat
Labels: none

Turned off strict mode by default in make.py
  tools/make/make.py
Labels: none

Importing a new version of Champs De Losque.
  DarkestHourDev/Maps/DH-Les_Champs_de_Losque_Advance.rom
Labels: edits levels

Revert "Importing a new version of Champs De Losque."
  DarkestHourDev/Maps/DH-Les_Champs_de_Losque_Advance.rom
Labels: edits levels

New version Of Champs De Losque.
  DarkestHourDev/Maps/DH-Les_Champs_de_Losque_Advance.rom
Labels: edits levels

Committing current weapon vfx progress p.1 - convert 1st and 3rd person shell ejection to use emitters - updates/fixes to some 1st/3rd person muzzle flashes and smoke
  DH_Effects/Classes/DH3rdPersonPFaustExhaustFX.uc
  DH_Effects/Classes/DHMuzzleFlash1stKar.uc
  DH_Effects/Classes/DHMuzzleFlash1stMG.uc
  DH_Effects/Classes/DHMuzzleFlash1stSTG.uc
  DH_Effects/Classes/DHMuzzleFlash3rdFG42.uc
  DH_Effects/Classes/DHMuzzleFlash3rdKar.uc
  DH_Effects/Classes/DHMuzzleFlash3rdLMG.uc
  DH_Effects/Classes/DHMuzzleFlash3rdM1928.uc
  DH_Effects/Classes/DHMuzzleFlash3rdMG.uc
  DH_Effects/Classes/DHMuzzleFlash3rdMosin.uc
  DH_Effects/Classes/DHMuzzleFlash3rdNagant.uc
  DH_Effects/Classes/DHMuzzleFlash3rdPPS.uc
  DH_Effects/Classes/DHMuzzleFlash3rdPPSH.uc
  DH_Effects/Classes/DHMuzzleFlash3rdPanzerfaust.uc
  DH_Effects/Classes/DHMuzzleFlash3rdPistol.uc
  DH_Effects/Classes/DHMuzzleFlash3rdSMG.uc
  DH_Effects/Classes/DHMuzzleSmoke.uc
  DH_Effects/Classes/DHMuzzleSmokeMP.uc
  DH_Effects/Classes/DHShellEject1st.uc
  DH_Effects/Classes/DHShellEject3rd.uc
  DH_Engine/Classes/DHAutomaticFire.uc
  DH_Engine/Classes/DHBoltFire.uc
  DH_Engine/Classes/DHMGAutomaticFire.uc
  DH_Engine/Classes/DHProjectileFire.uc
  DH_Engine/Classes/DHRocketWeaponAttachment.uc
  DH_Engine/Classes/DHSemiAutoFire.uc
  DH_Engine/Classes/DHWeaponAttachment.uc
  DH_Engine/Classes/DHWeaponFire.uc
  DH_Weapons/Classes/DH_BARAttachment.uc
  DH_Weapons/Classes/DH_FG42Attachment.uc
  DH_Weapons/Classes/DH_M1GarandAttachment.uc
  DH_Weapons/Classes/DH_MP40Attachment.uc
  DH_Weapons/Classes/DH_PanzerFaustAttachment.uc
  DarkestHourDev/Textures/DH_FX_Tex.utx
Labels: edits textures

Committing current weapon vfx progress p.1 - first examples for 1P and 3P shell ejection (Garand,BAR,MP40,FG42) - added new muzzle flash and smoke to a couple of weps (more to come)
  DH_Effects/Classes/DHShellEject1st762x54mm.uc
  DH_Effects/Classes/DHShellEject3rd762x54mm.uc
  DH_Effects/Classes/DHShellEject3rd9x19mm.uc
  DH_Weapons/Classes/DH_30calFire.uc
  DH_Weapons/Classes/DH_BARAttachment.uc
  DH_Weapons/Classes/DH_BARFire.uc
  DH_Weapons/Classes/DH_BARNoBipodAttachment.uc
  DH_Weapons/Classes/DH_FG42Attachment.uc
  DH_Weapons/Classes/DH_FG42Fire.uc
  DH_Weapons/Classes/DH_Kar98Fire.uc
  DH_Weapons/Classes/DH_M1GarandAttachment.uc
  DH_Weapons/Classes/DH_M1GarandFire.uc
  DH_Weapons/Classes/DH_MP40Attachment.uc
  DH_Weapons/Classes/DH_MP40Fire.uc
  DH_Weapons/Classes/DH_STG44Fire.uc
Labels: none

.github/labeler.yml:

edits levels:
  - '**/*.rom'

edits textures:
  - '**/*.utx'

edits animations:
  - '**/*.ukx'

edits statics:
  - '**/*.usx'

edits audio:
  - '**/*.uax'
