Repository DarklightGames/DarkestHour, pull requests merged in 2021-11, with the labels that each got.

#1357 Fixed missing textures on 3rd person RPG-43 mesh
  DH_Weapons/Classes/DH_RPG43GrenadeAttachment.uc
Labels: bug

#1360 Stavelot Push: Set season setting to winter
  DarkestHourDev/Maps/DH-Stavelot_Push.rom
Labels: bug, levels

#1359 Fixed missing destroyed/burnt overlays on German vehicle statics
  DH_Vehicles/Classes/DH_M3Halftrack.uc
  DH_Vehicles/Classes/DH_SdKfz2519BCannon.uc
  DH_Vehicles/Classes/DH_SdKfz2519BCannonPawn.uc
  DH_Vehicles/Classes/DH_SdKfz2519BTransport.uc
  DH_Vehicles/Classes/DH_SdKfz2519CCannon.uc
  DH_Vehicles/Classes/DH_SdKfz2519CCannonPawn.uc
  DH_Vehicles/Classes/DH_SdKfz2519CTransport.uc
  DH_Vehicles/Classes/DH_SdKfz2519CannonShellHEAT.uc
  DH_Vehicles/Classes/DH_SdKfz2519CannonShellHEATA.uc
  DH_Vehicles/Classes/DH_SdKfz2519CannonShellHEATB.uc
  DH_Vehicles/Classes/DH_SdKfz2519CannonShellHEATC.uc
  DH_Vehicles/Classes/DH_SdKfz2519DCannon.uc
  DH_Vehicles/Classes/DH_SdKfz2519DTransport.uc
  DH_Vehicles/Classes/DH_SdKfz2519DTransport_Snow.uc
  DH_Vehicles/Classes/DH_Sdkfz251Transport.uc
  DarkestHourDev/Textures/DH_VehiclesGE_tex.utx
  DarkestHourDev/Textures/DH_VehiclesGE_tex8.utx
Labels: bug

#1358 Flakturm Tiergarten
  DarkestHourDev/Maps/DH-Flakturm_Tiergarten_Defence.rom
Labels: levels

#1353 New Tank Skins
  DH_Vehicles/Classes/DH_PanzerIIIJTank_Snow.uc
  DH_Vehicles/Classes/DH_PanzerIVHTank_21stPanzerDiv_Normandy.uc
  DH_Vehicles/Classes/DH_TigerTank_SnowWhiteWash.uc
  DarkestHourDev/Maps/DH-Armored_Balaton_Clash.rom
  DarkestHourDev/Maps/DH-Armored_Debrecen_Clash.rom
  DarkestHourDev/Maps/DH-Armored_Panzerschlacht_Clash.rom
  DarkestHourDev/Maps/DH-Barashka_Clash.rom
  DarkestHourDev/Maps/DH-Valko_Advance.rom
  DarkestHourDev/Textures/DH_VehiclesGE_tex.utx
Labels: vehicles, levels

#1365 Small Map Fixes and Tweaks
  DarkestHourDev/Maps/DH-Armored_La_Feuillie_Clash.rom
  DarkestHourDev/Maps/DH-Armored_Tractable_Advance.rom
  DarkestHourDev/Maps/DH-Bridge_Assault_Stalemate.rom
  DarkestHourDev/Maps/DH-Cheneux_Advance.rom
  DarkestHourDev/Maps/DH-Cheneux_Push.rom
  DarkestHourDev/Maps/DH-Konigsplatz_Push.rom
Labels: levels

#1366 Event Version of Dom Pavlova
  DarkestHourDev/Maps/DH-Dom-Pavlova_Event.rom
Labels: levels

#1369 Fixed the exploit where players could fast-attach bayonet by dropping weapon mid animation
  DH_Engine/Classes/DHProjectileWeapon.uc
Labels: bug, exploit

#1368 Fixed a "whitewashed texture" bug on the M5 gun wreck
  DarkestHourDev/Textures/DH_M5Gun_tex.utx
Labels: bug, edits textures

#1373 Various Map Changes and Bug Fixes
  DarkestHourDev/Maps/DH-Armored_Cagny_Clash.rom
  DarkestHourDev/Maps/DH-Armored_Cagny_Recon_Clash.rom
  DarkestHourDev/Maps/DH-Flakturm_Tiergarten_Defence.rom
  DarkestHourDev/Maps/DH-Kommerscheidt_Advance.rom
  DarkestHourDev/Maps/DH-Pariserplatz_Defence.rom
  DarkestHourDev/Maps/DH-Rabenheck_Advance.rom
  DarkestHourDev/Maps/DH-Simonskall_Push.rom
  DarkestHourDev/Maps/DH-St_Marie_du_Mont_Advance.rom
Labels: edits levels
