Repository DarklightGames/DarkestHour, pull requests merged in 2021-10, with the labels that each got.

#1352 Halloween Event 2021
  DH_Engine/Classes/DHPawn.uc
  DH_Engine/Classes/DHRoleInfo.uc
  DH_Engine/Classes/DHWeaponPickup.uc
  DH_Engine/Classes/DH_LevelInfo.uc
  DH_Engine/Classes/DarkestHourGame.uc
  DH_Equipment/Classes/DHShovelMeleeFire.uc
  DH_GerPlayers/Classes/DHZVoice.uc
  DH_GerPlayers/Classes/DH_ZAntiTank.uc
  DH_GerPlayers/Classes/DH_ZAssault.uc
  DH_GerPlayers/Classes/DH_ZBerserker.uc
  DH_GerPlayers/Classes/DH_ZCombatEngineer.uc
  DH_GerPlayers/Classes/DH_ZFireteamLeader.uc
  DH_GerPlayers/Classes/DH_ZGunner.uc
  DH_GerPlayers/Classes/DH_ZLeader.uc
  DH_GerPlayers/Classes/DH_ZMortarObserver.uc
  DH_GerPlayers/Classes/DH_ZMortarman.uc
  DH_GerPlayers/Classes/DH_ZRadioman.uc
  DH_GerPlayers/Classes/DH_ZRifleman.uc
  DH_GerPlayers/Classes/DH_ZSemiAuto.uc
  DH_GerPlayers/Classes/DH_ZSniper.uc
  DH_GerPlayers/Classes/DH_ZSquadLeader.uc
  DH_GerPlayers/Classes/DH_ZTanker.uc
  DH_GerPlayers/Classes/DH_ZombieHeerPawn.uc
  DH_GerPlayers/Classes/DH_ZombieLeaderPawn.uc
  DH_GerPlayers/Classes/DH_ZombiePawn.uc
  DH_GerPlayers/Classes/DH_ZombieRadioHeerPawn.uc
  DH_GerPlayers/Classes/DH_ZombieSmockHeerPawn.uc
  DH_GerPlayers/Classes/DH_ZombieTankCrewPawn.uc
  DH_Interface/Classes/DHDeployMenu.uc
  DH_Vehicles/Classes/DH_GMCTruckSupport_Halloween.uc
  DH_Vehicles/Classes/DH_GMCTruckTransport_Halloween.uc
  DH_Vehicles/Classes/DH_ShermanCannonPawn_M4A3E8_ZombieSlayer.uc
  DH_Vehicles/Classes/DH_ShermanCannon_M4A3E8_ZombieSlayer.uc
  DH_Vehicles/Classes/DH_ShermanFactory_M4A3E8_ZombieSlayer.uc
  DH_Vehicles/Classes/DH_ShermanTank_M4A3E8_ZombieSlayer.uc
  DH_Vehicles/Classes/DH_TigerFactory_Butcher.uc
  DH_Vehicles/Classes/DH_TigerTank_Butcher.uc
  DarkestHourDev/Maps/DH-Haunted_Fury_Advance.rom
  DarkestHourDev/Maps/DH-Haunted_Hattert_Clash.rom
  DarkestHourDev/Maps/DH-Haunted_Pariserplatz_Survival.rom
  DarkestHourDev/Sounds/DH_Z_Voice_Infantry.uax
  DarkestHourDev/StaticMeshes/DH_ShermanM4A3E8_ZombieSlayer_stc.usx
  DarkestHourDev/Textures/DHEventCharactersTex.utx
  DarkestHourDev/Textures/DHEventVehiclesTex.utx
  DarkestHourDev/Textures/DHGermanCharactersTex.utx
  DarkestHourDev/Textures/DH_GUI_Tex.utx
Labels: levels, feature

#1354 Balancing on Haunted Pariser
  DarkestHourDev/Maps/DH-Haunted_Pariserplatz_Survival.rom
Labels: levels

#1356 Hotfix for Armored Maps
  DarkestHourDev/Maps/DH-Armored_Fruhlingserwachen_Clash.rom
  DarkestHourDev/Maps/DH-Armored_Lemberg_Clash.rom
Labels: levels

#1355 A few hotfixes for half-tracks and half-track based vehicles
  DH_Vehicles/Classes/DH_M3Halftrack.uc
  DH_Vehicles/Classes/DH_SdKfz2519DTransport.uc
  DH_Vehicles/Classes/DH_Sdkfz251Transport.uc
Labels: wip
