Repository DarklightGames/DarkestHour, pull requests merged in 2021-12, with the labels that each got.

#1379 [La Fiere Day Advance] Hand-tuned the Danger Zone
  DarkestHourDev/Maps/DH-La_Fiere_Day_Advance.rom
Labels: levels, edits levels

#1383 Fixed a bug where AT launchers could fail to spawn a projectile
  DH_Engine/Classes/DHRocketFire.uc
Labels: bug

#1385 Bug Fixes and Balance Changes to Various Levels
  DarkestHourDev/Maps/DH-Armored_Gran_Advance.rom
  DarkestHourDev/Maps/DH-Armored_Hill112_Advance.rom
  DarkestHourDev/Maps/DH-Armored_Kharkov_Advance.rom
  DarkestHourDev/Maps/DH-Armored_Raid_to_Bastogne_Advance.rom
  DarkestHourDev/Maps/DH-Caen_Advance.rom
  DarkestHourDev/Maps/DH-Rabenheck_Advance.rom
  DarkestHourDev/Maps/DH-Valko_Advance.rom
Labels: edits levels

#1381 DH_Decals.utx Update
  DarkestHourDev/Textures/DH_Decals.utx
Labels: edits textures

#1382 NewStatics: DH_Sundries_Update1
  DarkestHourDev/StaticMeshes/DH_Sundries.usx
  DarkestHourDev/Textures/DH_Sundries_Tex.utx
Labels: edits textures, edits statics

#1386 Vote menu enhancements + remote server bugfix
  DH_Engine/Classes/DHMapDatabase.uc
  DH_Engine/Classes/DHMapList.uc
  DH_Engine/Classes/DHPlayer.uc
  DH_Interface/Classes/DHMapVoteCountMultiColumnList.uc
  DH_Interface/Classes/DHMapVoteMultiColumnList.uc
  DH_Interface/Classes/DHMapVotingPage.uc
  DH_Interface/Classes/DHServerLoading.uc
  System/DHMapVotingInfo.ini
Labels: bug, enhancement

#1387 Les Champs de Losque Hotfix
  DarkestHourDev/Maps/DH-Les_Champs_de_Losque_Advance.rom
Labels: edits levels
