Repository DarklightGames/DarkestHour, pull requests merged in 2022-01, with the labels that each got.

#1391 Team score totals are now displayed at the end of the round
  DH_Engine/Classes/DHGameReplicationInfo.uc
  DH_Engine/Classes/DHPlayer.uc
  DH_Engine/Classes/DHScoreManager.uc
  DH_Engine/Classes/DarkestHourGame.uc
  DH_Interface/Classes/DHScoreBoard.uc
Labels: interface, feature

#1389 Bug Fixes and Balance Changes
  DarkestHourDev/Maps/DH-Armored_Kharkov_Advance.rom
  DarkestHourDev/Maps/DH-Bois_Jacques_Push.rom
  DarkestHourDev/Maps/DH-Butovo_Advance.rom
  DarkestHourDev/Maps/DH-Godolloi_Advance.rom
  DarkestHourDev/Maps/DH-Leningrad_Push.rom
  DarkestHourDev/Sounds/DH_Win.uax
  DarkestHourDev/StaticMeshes/DH_Military_stc.usx
Labels: edits levels, edits audio, edits statics

#1396 Fixes and tweaks to Armored Suedwind and Armored Fruhlingserwachen:
  DarkestHourDev/Maps/DH-Armored_Fruhlingserwachen_Clash.rom
  DarkestHourDev/Maps/DH-Armored_Suedwind_Advance.rom
Labels: edits levels
