Repository DarklightGames/DarkestHour, pull requests merged in 2022-03, with the labels that each got.

#1412 Updates to Existing Maps and 1 New Ported Map
  DarkestHourDev/Maps/DH-Bridgehead_Advance.rom
  DarkestHourDev/Maps/DH-Flakturm_Tiergarten_Defence.rom
  DarkestHourDev/Maps/DH-Godolloi_Advance.rom
  DarkestHourDev/Maps/DH-Hattert_Clash.rom
  DarkestHourDev/Maps/DH-HedgeHog_Push.rom
  DarkestHourDev/Maps/DH-Jurques_Clash.rom
  DarkestHourDev/Maps/DH-Krasnyi_Oktyabr_Defence.rom
  DarkestHourDev/Maps/DH-La_Fiere_Day_Advance.rom
  DarkestHourDev/Maps/DH-Prussia_Push.rom
  DarkestHourDev/Maps/DH-Target_Range.rom
  DarkestHourDev/Maps/DH-Winter_Manor_1941_Push.rom
Labels: edits levels

#1411 Fixes for Winter Manor Push
  DarkestHourDev/Maps/DH-Winter_Manor_1941_Push.rom
Labels: levels, edits levels

#1410 smolensk-advance qol
  DarkestHourDev/Maps/DH-Smolensk_Advance.rom
Labels: edits levels

#1409 Removed center point from the Fire marker to make it less obscuring
  DarkestHourDev/Textures/DH_InterfaceArt2_tex.utx
Labels: interface, edits textures

#1408 Increased GMC understeer to be consistent with other trucks
  DH_Vehicles/Classes/DH_GMCTruck.uc
Labels: vehicles

#1415 Panzer Lehr Update
  DH_GerPlayers/Classes/DH_PanzerLehrPawn.uc
  DH_GerPlayers/Classes/DH_PanzerLehrTankCrewPawn.uc
  DH_GerPlayers/Classes/DH_PzLehrAntiTank.uc
  DH_GerPlayers/Classes/DH_PzLehrAssault.uc
  DH_GerPlayers/Classes/DH_PzLehrCombatEngineer.uc
  DH_GerPlayers/Classes/DH_PzLehrFireteamLeader.uc
  DH_GerPlayers/Classes/DH_PzLehrGunner.uc
  DH_GerPlayers/Classes/DH_PzLehrRifleman.uc
  DH_GerPlayers/Classes/DH_PzLehrSquadLeader.uc
  DH_GerPlayers/Classes/DH_PzLehrTanker.uc
  DarkestHourDev/Animations/DHCharactersGER_anm.ukx
  DarkestHourDev/Maps/DH-Les_Champs_de_Losque_Advance.rom
  DarkestHourDev/Textures/DHGermanCharactersTex.utx
  DarkestHourDev/Textures/DH_Pegasus_package.utx
Labels: edits levels, edits textures, edits animations

#1388 New Models, Textures and Roles for Panzer Lehr + Implemented on to Les Champs de Losque
  DH_GerPlayers/Classes/DH_PanzerLehrPawn.uc
  DH_GerPlayers/Classes/DH_PanzerLehrTankCrewPawn.uc
  DH_GerPlayers/Classes/DH_PzLehrAntiTank.uc
  DH_GerPlayers/Classes/DH_PzLehrAssault.uc
  DH_GerPlayers/Classes/DH_PzLehrCombatEngineer.uc
  DH_GerPlayers/Classes/DH_PzLehrFireteamLeader.uc
  DH_GerPlayers/Classes/DH_PzLehrGunner.uc
  DH_GerPlayers/Classes/DH_PzLehrRifleman.uc
  DH_GerPlayers/Classes/DH_PzLehrSquadLeader.uc
  DH_GerPlayers/Classes/DH_PzLehrTanker.uc
  DarkestHourDev/Animations/DHCharactersGER_anm.ukx
  DarkestHourDev/Maps/DH-Les_Champs_de_Losque_Advance.rom
  DarkestHourDev/Textures/DHGermanCharactersTex.utx
  DarkestHourDev/Textures/DH_Pegasus_package.utx
Labels: edits levels, edits textures, edits animations, edits audio, edits statics

#1414 Updated Armored Kharkov Advance for Event and a Few Other Changes
  DarkestHourDev/Maps/DH-Armored_Kharkov_Advance.rom
  DarkestHourDev/Maps/DH-Armored_Voronezh_Clash.rom
  DarkestHourDev/Maps/DH-Flakturm_Tiergarten_Defence.rom
  DarkestHourDev/Maps/DH-Jurques_DayTwo_Advance.rom
  DarkestHourDev/Maps/DH-Prussia_Push.rom
Labels: edits levels

#1416 New statics added to DH_Landscape
  DarkestHourDev/StaticMeshes/DH_Landscape.usx
  DarkestHourDev/Textures/DH_Landscape_tex.utx
Labels: edits textures, edits statics

#1417 Map Updates and New Wood/Ground Textures
  DarkestHourDev/Maps/DH-Armored_Hill112_Advance.rom
  DarkestHourDev/Maps/DH-Armored_Kasserine_Pass_Advance.rom
  DarkestHourDev/Maps/DH-Armored_Kharkov_Advance.rom
  DarkestHourDev/Maps/DH-Kasserine_Pass_Advance.rom
  DarkestHourDev/Maps/DH-Les_Champs_de_Losque_Advance.rom
  DarkestHourDev/Textures/DH_Buildings3_tex.utx
  DarkestHourDev/Textures/DH_Ground2_tex.utx
Labels: edits levels, edits textures

#1418 Hotfix for Kharkov and Les Champs
  DarkestHourDev/Maps/DH-Armored_Kharkov_Advance.rom
  DarkestHourDev/Maps/DH-Les_Champs_de_Losque_Advance.rom
Labels: edits levels
