Repository DarklightGames/DarkestHour, pull requests merged in 2022-11, with the labels that each got.

#1520 Level Updates and Fixes
  DH_Engine/Classes/DHMapDatabase.uc
  DarkestHourDev/Maps/DH-Dzerzhinsky_Tractor_Factory_Advance.rom
  DarkestHourDev/Maps/DH-Rabenheck_Advance.rom
  DarkestHourDev/Maps/DH-Varaville_Advance.rom
  DarkestHourDev/StaticMeshes/DH_Vegetation4_stc.usx
Labels: edits levels, edits statics

#1524 Stavelot combat engineer fix
  DarkestHourDev/Maps/DH-Stavelot_Push.rom
Labels: edits levels

#1525 Update to Cambes en Plaine Advance:
  DarkestHourDev/Maps/DH-Cambes-En-Plaine_Advance.rom
Labels: edits levels

#1527 Squad controls for admins
  DH_Engine/Classes/DHAdminMessage.uc
  DH_Engine/Classes/DHSquadReplicationInfo.uc
  DH_Interface/Classes/DHContextMenu_SquadMembers.uc
Labels: feature

#1528 Hurtgen Event Update
  DarkestHourDev/Maps/DH-Kommerscheidt_Advance.rom
  DarkestHourDev/Maps/DH-Rabenheck_Advance.rom
Labels: edits levels

#1523 Role weapons changed for the allies
  DarkestHourDev/Maps/DH-MyshkovaRiver_Advance.rom
Labels: edits levels
