Repository DarklightGames/DarkestHour, pull requests merged in 2022-07, with the labels that each got.

#1444 Oosterbeek_advance QOL
  DarkestHourDev/Maps/DH-Oosterbeek_Advance.rom
Labels: edits levels

#1446 Winter_Stalemate_Advance minefield SafePeriodDuration qfix.
  DH_Engine/Classes/DHMapDatabase.uc
  DarkestHourDev/Maps/DH-Winter_Stalemate_Advance.rom
Labels: edits levels

#1469 Level Fixes and Tweaks
  DarkestHourDev/Maps/DH-Armored_Hill112_Advance.rom
  DarkestHourDev/Maps/DH-Armored_Tractable_Advance.rom
  DarkestHourDev/Maps/DH-Cambes-En-Plaine_Advance.rom
  DarkestHourDev/Maps/DH-Fox_Green_Defence.rom
  DarkestHourDev/Maps/DH-La_Feuillie_Advance.rom
  DarkestHourDev/Maps/DH-Lyes_Krovy_Defence.rom
  DarkestHourDev/Maps/DH-Pariserplatz_Defence.rom
  DarkestHourDev/Maps/DH-Rhine_River_Clash.rom
  DarkestHourDev/Maps/DH-Smolensk_Advance.rom
  DarkestHourDev/Maps/DH-Winter_Manor_1941_Push.rom
Labels: edits levels

#1478 Myshkova River fixes
  DarkestHourDev/Maps/DH-MyshkovaRiver_Advance.rom
Labels: edits levels

#1475 Rakowice_Advance Improvements and balance update.
  DarkestHourDev/Maps/DH-Rakowice_Advance.rom
Labels: edits levels

#1482 La_Chapelle_Push update
  DarkestHourDev/Maps/DH-La_Chapelle_Push.rom
Labels: edits levels

#1486 Flakturm Update
  DarkestHourDev/Maps/DH-Flakturm_Tiergarten_Defence.rom
Labels: edits levels

#1484 Kursk Event Maps
  DarkestHourDev/Maps/DH-Armored_Black_Day_July_Clash_Event.rom
  DarkestHourDev/Maps/DH-Butovo_Advance_Event.rom
  DarkestHourDev/Maps/DH-Olkhovatka_Advance.rom
Labels: edits levels

#1394 Limit/unlock SL abilities based on the squad member count
  DH_Engine/Classes/DHConsole.uc
  DH_Engine/Classes/DHMapMarker_FireSupport_OffMap.uc
  DH_Engine/Classes/DHPlayer.uc
  DH_Engine/Classes/DHPlayerReplicationInfo.uc
  DH_Engine/Classes/DHVoiceChatRoom.uc
Labels: squads, feature

#1490 German Vehicles 5 Package Materials Fixes
  DarkestHourDev/Textures/DH_VehiclesGE_tex5.utx
Labels: edits textures

#1489 Level Updates and Fixes
  DarkestHourDev/Maps/DH-Armored_Hill112_Advance.rom
  DarkestHourDev/Maps/DH-Armored_La_Champagne_Advance.rom
  DarkestHourDev/Maps/DH-Butovo_Advance.rom
  DarkestHourDev/Maps/DH-Godolloi_Advance.rom
  DarkestHourDev/Maps/DH-Pegasus_Bridge_Advance.rom
  DarkestHourDev/Maps/DH-Rabenheck_Advance.rom
  DarkestHourDev/Maps/DH-Reichswald_Push.rom
  DarkestHourDev/Maps/DH-Smolensk_Advance.rom
  DarkestHourDev/Maps/DH-Stoumont_Advance.rom
Labels: edits levels
