Repository DarklightGames/DarkestHour, pull requests merged in 2022-06, with the labels that each got.

#1442 DH-Oosterbeek_Advance fixes and polishing.
  DarkestHourDev/Maps/DH-Oosterbeek_Advance.rom
Labels: edits levels

#1454 Myshkova River fixes.
  DarkestHourDev/Maps/DH-MyshkovaRiver_Advance.rom
Labels: edits levels

#1450 La_Fiere_Advance advancing minefields
  DarkestHourDev/Maps/DH-La_Fiere_Advance.rom
Labels: edits levels

#1459 Cambes Advance Conversion
  DH_Vehicles/Classes/DH_PanzerIVHTank_21stPanzerDiv_Normandy.uc
  DarkestHourDev/Maps/DH-Cambes-En-Plaine_Advance.rom
  DarkestHourDev/Textures/DH_VehiclesGE_tex.utx
Labels: edits levels, edits textures

#1449 Fixed #1448: Callable paratrooper spawns not working
  DH_Artillery/Classes/DHArtillery_Paratroopers.uc
  DH_Engine/Classes/DHArtillery.uc
  DH_Engine/Classes/DHArtillery_Legacy.uc
Labels: bug

#1460 Armored Advance Game Mode
  DH_Engine/Classes/DHGameType_Armored_Advance.uc
  DarkestHourDev/Maps/DH-Armored_Freyneux_Advance.rom
Labels: edits levels, edits textures

#1248 Trenchgun Tweaks
  DH_Weapons/Classes/DH_Winchester1897Bullet.uc
  DH_Weapons/Classes/DH_Winchester1897Fire.uc
Labels: infantry weapons

#1458 Various Level Updates and Event Maps
  DarkestHourDev/Maps/DH-Armored_Cagny_Clash_Event.rom
  DarkestHourDev/Maps/DH-Armored_Debrecen_Clash.rom
  DarkestHourDev/Maps/DH-Armored_Eindhoven_Clash.rom
  DarkestHourDev/Maps/DH-Armored_Hill112_Advance.rom
  DarkestHourDev/Maps/DH-Armored_Hill112_Advance_Event.rom
  DarkestHourDev/Maps/DH-Armored_Kharkov_Advance.rom
  DarkestHourDev/Maps/DH-Armored_KrivoiRog_Clash.rom
  DarkestHourDev/Maps/DH-Armored_Vieux_Advance.rom
  DarkestHourDev/Maps/DH-Armored_Vieux_Advance_Event.rom
  DarkestHourDev/Maps/DH-Carpiquet_Airfield_Advance.rom
  DarkestHourDev/Maps/DH-Flakturm_Tiergarten_Defence.rom
  DarkestHourDev/Maps/DH-Fox_Green_Defence.rom
  DarkestHourDev/Maps/DH-German_Village_Defence.rom
  DarkestHourDev/Maps/DH-La_Feuillie_Advance.rom
  DarkestHourDev/Maps/DH-Merderet_Advance.rom
  DarkestHourDev/Maps/DH-Pegasus_Bridge_Advance.rom
  DarkestHourDev/Maps/DH-Valko_Advance.rom
Labels: edits levels
