Repository DarklightGames/DarkestHour, pull requests merged in 2022-09, with the labels that each got.

#1364 Soviet Radio Operator (A-7 Tranciever)
  DH_Engine/Classes/DHBackpack.uc
  DH_Engine/Classes/DHPawn.uc
  DH_Engine/Classes/DHRoleInfo.uc
  DH_Equipment/Classes/DHSovRadioAttachment.uc
  DH_Equipment/Classes/DH_SovRadioItem.uc
  DH_Interface/Classes/DHMainMenu.uc
  DH_SovietPlayers/Classes/DHPOLRadioOperatorRoles.uc
  DH_SovietPlayers/Classes/DHSOVRadioOperatorRoles.uc
  DH_SovietPlayers/Classes/DH_LWPGreatcoatBrownStrapsPawn.uc
  DH_SovietPlayers/Classes/DH_LWPGreatcoatBrownStrapsPawn_Winter.uc
  DH_SovietPlayers/Classes/DH_LWPGreatcoatGreyStrapsPawn.uc
  DH_SovietPlayers/Classes/DH_LWPGreatcoatGreyStrapsPawn_Winter.uc
  DH_SovietPlayers/Classes/DH_LWPTunicLateStrapsPawn.uc
  DH_SovietPlayers/Classes/DH_LWPTunicStrapsGreyPawn.uc
  DH_SovietPlayers/Classes/DH_LWPTunicStrapsLightPawn.uc
  DH_SovietPlayers/Classes/DH_LWP_GreatcoatRadioOperator.uc
  DH_SovietPlayers/Classes/DH_LWP_GreatcoatRadioOperator_Winter.uc
  DH_SovietPlayers/Classes/DH_LWP_StandardRadioOperatorGrey.uc
  DH_SovietPlayers/Classes/DH_LWP_StandardRadioOperatorLate.uc
  DH_SovietPlayers/Classes/DH_LWP_StandardRadioOperatorLight.uc
  DH_SovietPlayers/Classes/DH_RKKA_GreatcoatRadioOperatorEarly.uc
  DH_SovietPlayers/Classes/DH_RKKA_GreatcoatRadioOperatorEarly_Winter.uc
  DH_SovietPlayers/Classes/DH_RKKA_GreatcoatRadioOperatorLate.uc
  DH_SovietPlayers/Classes/DH_RKKA_GreatcoatRadioOperatorLate_Winter.uc
  DH_SovietPlayers/Classes/DH_RKKA_SnowRadioOperatorEarly.uc
  DH_SovietPlayers/Classes/DH_RKKA_SnowRadioOperatorLate.uc
  DH_SovietPlayers/Classes/DH_RKKA_StandardFireteamLeaderEarly.uc
  DH_SovietPlayers/Classes/DH_RKKA_StandardRadioOperatorEarly.uc
  DH_SovietPlayers/Classes/DH_RKKA_StandardRadioOperatorLate.uc
  DH_SovietPlayers/Classes/DH_SovRadioBackpack.uc
  DH_SovietPlayers/Classes/DH_SovietGreatcoatBrownStrapsEarlyPawn.uc
  DH_SovietPlayers/Classes/DH_SovietGreatcoatBrownStrapsEarlyPawn_Winter.uc
  DH_SovietPlayers/Classes/DH_SovietGreatcoatBrownStrapsLatePawn.uc
  DH_SovietPlayers/Classes/DH_SovietGreatcoatBrownStrapsLatePawn_Winter.uc
  DH_SovietPlayers/Classes/DH_SovietGreatcoatGreyStrapsEarlyPawn.uc
  DH_SovietPlayers/Classes/DH_SovietGreatcoatGreyStrapsEarlyPawn_Winter.uc
  DH_SovietPlayers/Classes/DH_SovietGreatcoatGreyStrapsLatePawn.uc
  DH_SovietPlayers/Classes/DH_SovietGreatcoatGreyStrapsLatePawn_Winter.uc
  DH_SovietPlayers/Classes/DH_SovietSnowStrapsLatePawn.uc
  DH_SovietPlayers/Classes/DH_SovietSnowStrapsPawn.uc
  DH_SovietPlayers/Classes/DH_SovietTunicM43DarkPawnAStraps.uc
  DH_SovietPlayers/Classes/DH_SovietTunicM43GreenPawnAStraps.uc
  DH_SovietPlayers/Classes/DH_SovietTunicM43PawnAStraps.uc
  DH_SovietPlayers/Classes/DH_SovietTunicStrapsEarlyDarkPawn.uc
  DH_SovietPlayers/Classes/DH_SovietTunicStrapsEarlyPawn.uc
  DH_SovietPlayers/Classes/DH_SovietTunicStrapsLatePawn.uc
  DarkestHourDev/Animations/DHCharactersSOV_anm.ukx
  DarkestHourDev/Animations/DH_Radios_anm.ukx
  DarkestHourDev/StaticMeshes/DH_Radios_stc.usx
  DarkestHourDev/Textures/DH_Radios_tex.utx
Labels: has discord-channel, wip, edits textures, edits animations, edits statics

#1502 Myshkova River Advance Update.
  DarkestHourDev/Maps/DH-MyshkovaRiver_Advance.rom
Labels: edits levels

#1503 Rakowice Advance Fixes.
  DarkestHourDev/Maps/DH-Rakowice_Advance.rom
Labels: edits levels

#1504 17 Pounder and 6 Pounder APDS Accuracy buff
  DH_Guns/Classes/DH_6PounderGunCannon.uc
  DH_Vehicles/Classes/DH_AchillesCannon.uc
  DH_Vehicles/Classes/DH_ShermanFireFlyCannon.uc
Labels: vehicles, feature

#1508 New map hotfixes
  DarkestHourDev/Maps/DH-German_Village_Advance.rom
  DarkestHourDev/Maps/DH-Lazur_Chemical_Plant_Defence.rom
  DarkestHourDev/Maps/DH-Lutremange_Domination.rom
  DarkestHourDev/Maps/DH-Rhine_River_Clash.rom
Labels: edits levels

#1512 Level updates wolfkraut
  DH_Engine/Classes/DHMapDatabase.uc
  DarkestHourDev/Maps/DH-Armored_Kasserine_Pass_Advance.rom
  DarkestHourDev/Maps/DH-Butovo_Advance.rom
  DarkestHourDev/Maps/DH-Fury_Advance.rom
  DarkestHourDev/Maps/DH-Kasserine_Pass_Advance.rom
  DarkestHourDev/Maps/DH-Lazur_Chemical_Plant_Defence.rom
  DarkestHourDev/Maps/DH-Noville_Advance.rom
  DarkestHourDev/Maps/DH-Rederitz_Advance.rom
  DarkestHourDev/Maps/DH-Rhine_River_Clash.rom
  DarkestHourDev/Maps/DH-Stoumont_Advance.rom
  DarkestHourDev/Maps/DH-Wanne_Advance.rom
Labels: edits levels

#1513 Myshkova hotfix.
  DarkestHourDev/Maps/DH-MyshkovaRiver_Advance.rom
Labels: edits levels
