Repository DarklightGames/DarkestHour, pull requests merged in 2023-10, with the labels that each got.

#1653 Bugfix US Pawns
  DH_USPlayers/Classes/DH_AmericanPawn.uc
  DH_USPlayers/Classes/DH_AmericanPawnNCO.uc
  DH_USPlayers/Classes/DH_USVest7thPawn.uc
  DH_USPlayers/Classes/DH_USVestPawn.uc
Labels: bug

#1645 Fixed a bug where some melee anims wouldn't play correctly during sprint
  DH_Engine/Classes/DHWeapon.uc
Labels: bug, animation

#1648 shotgun cleanup and implimentation
  DH_Engine/Classes/DHBoltActionWeapon.uc
  DH_Weapons/Classes/DH_Winchester1897Weapon.uc
  DarkestHourDev/Animations/DH_Winchester1897_anm.ukx
Labels: edits animations

#1657 Level Updates:
  DH_Engine/Classes/DHMapDatabase.uc
  DarkestHourDev/Maps/DH-Armored_Wacht_am_Rhein_Advance.rom
  DarkestHourDev/Maps/DH-Cheneux_Advance.rom
  DarkestHourDev/Maps/DH-Endsieg_Advance.rom
  DarkestHourDev/Maps/DH-Godolloi_Advance.rom
  DarkestHourDev/Maps/DH-Hurtgenwald_Advance.rom
  DarkestHourDev/Maps/DH-Kommerscheidt_Advance.rom
  DarkestHourDev/Maps/DH-Kriegstadt_Advance.rom
  DarkestHourDev/Maps/DH-Maupertus_Advance.rom
  DarkestHourDev/Maps/DH-Ogledow_Clash.rom
  DarkestHourDev/Maps/DH-Pointe_Du_Hoc_Push.rom
  DarkestHourDev/Maps/DH-Simonskall_Push.rom
  DarkestHourDev/Maps/DH-Wanne_Advance.rom
  DarkestHourDev/Maps/DH-Zhitomir1941_Push.rom
Labels: edits levels

#1659 Pointe du Hoc Hotfix:
  DarkestHourDev/Maps/DH-Pointe_Du_Hoc_Push.rom
Labels: edits levels

#1654 Fixed a few issues with Enfield No.4 animations
  DH_Engine/Classes/DHBoltActionWeapon.uc
  DH_Weapons/Classes/DH_EnfieldNo4ScopedWeapon.uc
  DH_Weapons/Classes/DH_EnfieldNo4Weapon.uc
  DarkestHourDev/Animations/DH_EnfieldNo4_1st.ukx
Labels: bug, infantry weapons, animation, edits animations

#1656 Fixed Various Issues with German Tanks and Guns
  DH_Guns/Classes/DH_Pak40CannonShellAPCR.uc
  DH_Vehicles/Classes/DH_PantherCannonShellAPCR.uc
  DH_Vehicles/Classes/DH_PanzerIIINCannon.uc
  DH_Vehicles/Classes/DH_PanzerIIINCannonShellHEAT.uc
  DH_Vehicles/Classes/DH_PanzerIVCannonShellHEAT.uc
  DH_Vehicles/Classes/DH_PanzerIVF1CannonShellHEAT.uc
  DH_Vehicles/Classes/DH_PanzerIVGEarlyCannonShellHEAT.uc
  DH_Vehicles/Classes/DH_PanzerIVGLateCannon.uc
  DH_Vehicles/Classes/DH_PanzerIVHCannon.uc
  DH_Vehicles/Classes/DH_SdKfz2519CannonShellHEAT.uc
  DH_Vehicles/Classes/DH_SdKfz2519DCannon.uc
  DH_Vehicles/Classes/DH_TigerCannon.uc
Labels: bug, vehicles

#1660 Feature halloween 2023
  DH_Engine/Classes/DHWeaponRegistry.uc
  DH_Weapons/Classes/DH_WitchEnder666Ammo.uc
  DH_Weapons/Classes/DH_WitchEnder666Attachment.uc
  DH_Weapons/Classes/DH_WitchEnder666BashDamType.uc
  DH_Weapons/Classes/DH_WitchEnder666Bullet.uc
  DH_Weapons/Classes/DH_WitchEnder666DamType.uc
  DH_Weapons/Classes/DH_WitchEnder666Fire.uc
  DH_Weapons/Classes/DH_WitchEnder666MeleeFire.uc
  DH_Weapons/Classes/DH_WitchEnder666Pickup.uc
  DH_Weapons/Classes/DH_WitchEnder666Weapon.uc
  DarkestHourDev/Animations/DHCharactersGER_anm.ukx
  DarkestHourDev/Animations/DH_Winchester1897_anm.ukx
  DarkestHourDev/Maps/DH-Haunted_Flugplatz_Survival.rom
  DarkestHourDev/Maps/DH-Haunted_Fury_Advance.rom
  DarkestHourDev/Maps/DH-Haunted_Hattert_Clash.rom
  DarkestHourDev/Maps/DH-Haunted_Inferno_Verde_Survival.rom
  DarkestHourDev/Maps/DH-Haunted_Pariserplatz_Survival.rom
  DarkestHourDev/Sounds/DH_WeaponSounds.uax
  DarkestHourDev/StaticMeshes/DH_Winchester1897_stc.usx
  DarkestHourDev/Textures/DH_Winchester1897_tex.utx
Labels: edits levels, edits textures, edits animations, edits audio, edits statics

#1661 Haunted Inferno:
  DarkestHourDev/Maps/DH-Haunted_Inferno_Verde_Survival.rom
Labels: edits levels
