Repository DarklightGames/DarkestHour, pull requests merged in 2023-11, with the labels that each got.

#1666 Fixed bullets not originating from the gun when leaning and hipfiring
  DH_Engine/Classes/DHPawn.uc
Labels: bug, infantry weapons, multiplayer

#1665 Fixed a bug where players lose score after rejoining a match
  DH_Engine/Classes/DHPlayer.uc
  DH_Engine/Classes/DHPlayerSession.uc
  DH_Engine/Classes/DarkestHourGame.uc
Labels: bug

#1664 Fixed a bug where constructions are sometimes immune to explosions
  DH_Construction/Classes/DHConstruction_PlatoonHQ.uc
  DH_Construction/Classes/DHConstruction_SupplyCache.uc
  DH_Construction/Classes/DHConstruction_VehiclePool.uc
  DH_Engine/Classes/DHAntiVehicleProjectile.uc
  DH_Engine/Classes/DHArtilleryShell.uc
  DH_Engine/Classes/DHConstruction.uc
  DH_Engine/Classes/DHMortarProjectile.uc
  DH_Engine/Classes/DHThrowableExplosiveProjectile.uc
Labels: bug, construction

#1639 Fixed "Ignore Voice Commands" feature not working
  DH_Engine/Classes/DHPlayer.uc
  DH_Interface/Classes/DHCommunicationPage.uc
  DH_Interface/Classes/DHMidGameVoiceChat.uc
Labels: bug

#1642 Fixed "last fire" animations not working in multiplayer
  DH_Engine/Classes/DHAutomaticFire.uc
  DH_Engine/Classes/DHProjectileFire.uc
  DH_Engine/Classes/DHProjectileWeapon.uc
  DH_Engine/Classes/DHWeaponFire.uc
Labels: bug, animation

#1670 Level Updates and Event Maps
  DarkestHourDev/Maps/DH-Armored_Wacht_am_Rhein_Advance.rom
  DarkestHourDev/Maps/DH-Bremoy_Advance.rom
  DarkestHourDev/Maps/DH-Gran_Advance.rom
  DarkestHourDev/Maps/DH-Kriegstadt_Push_USA.rom
Labels: edits levels

#1677 Level updates wolfkraut
  DH_Engine/Classes/DHGameReplicationInfo.uc
  DarkestHourDev/Maps/DH-Butovo_Advance.rom
  DarkestHourDev/Maps/DH-Klin1941_Advance.rom
  DarkestHourDev/Maps/DH-Kryukovo_Push.rom
  DarkestHourDev/Maps/DH-St_Marie_du_Mont_Advance.rom
Labels: edits levels

#1675 Fixed turrets and cannons spontaneously rotating when entering them
  DH_Engine/Classes/DHVehicleWeaponPawn.uc
  UCore/Classes/URotator.uc
Labels: bug, vehicles
