Repository DarklightGames/DarkestHour, pull requests merged in 2023-09, with the labels that each got.

#1630 Level Hotfix
  DH_Engine/Classes/DHMapDatabase.uc
  DarkestHourDev/Maps/DH-Armored_Iskra_Advance.rom
  DarkestHourDev/Maps/DH-Bridgehead_Advance.rom
  DarkestHourDev/Maps/DH-Champs_d'Agonie_Advance.rom
  DarkestHourDev/Maps/DH-Cheneux_Advance.rom
  DarkestHourDev/Maps/DH-Flakturm_Tiergarten_Defence.rom
  DarkestHourDev/Maps/DH-Fury_Advance.rom
  DarkestHourDev/Maps/DH-German_Village_Advance.rom
  DarkestHourDev/Maps/DH-Godolloi_Advance.rom
  DarkestHourDev/Maps/DH-Jurques_Dusk_Advance.rom
  DarkestHourDev/Maps/DH-Kriegstadt_Advance.rom
  DarkestHourDev/Maps/DH-Olkhovatka_Advance.rom
  DarkestHourDev/Maps/DH-Pointe_Du_Hoc_Push.rom
  DarkestHourDev/Maps/DH-Road_To_Isigny_Advance.rom
  DarkestHourDev/Maps/DH-Stoumont_Advance.rom
  DarkestHourDev/Maps/DH-Targnon_Advance.rom
  DarkestHourDev/Maps/DH-Ten_Aard_Advance.rom
Labels: edits levels

#1635 Level Bremoy Advance
  DarkestHourDev/Maps/DH-Brémoy_Advance.rom
  DarkestHourDev/Textures/DH_Buildings3_tex.utx
  DarkestHourDev/Textures/DH_Buildings_tex.utx
Labels: edits levels, edits textures

#1636 Jurques Dusk:
  DarkestHourDev/Maps/DH-Jurques_Dusk_Advance.rom
Labels: edits levels

#1633 Enfield No.4 Remake
  DH_Engine/Classes/DHProjectileFire.uc
  DH_Engine/Classes/DHProjectileWeapon.uc
  DH_Weapons/Classes/DH_EnfieldNo4Attachment.uc
  DH_Weapons/Classes/DH_EnfieldNo4Fire.uc
  DH_Weapons/Classes/DH_EnfieldNo4ScopedAttachment.uc
  DH_Weapons/Classes/DH_EnfieldNo4ScopedFire.uc
  DH_Weapons/Classes/DH_EnfieldNo4ScopedWeapon.uc
  DH_Weapons/Classes/DH_EnfieldNo4Weapon.uc
  DarkestHourDev/Animations/DH_EnfieldNo4_1st.ukx
  DarkestHourDev/Animations/DH_EnfieldNo4_3rd.ukx
  DarkestHourDev/Animations/DH_Weapons3rd_anm.ukx
  DarkestHourDev/StaticMeshes/DH_WeaponPickups.usx
  DarkestHourDev/Textures/DH_EnfieldNo4_tex.utx
  DarkestHourDev/Textures/DH_InterfaceArt_tex.utx
Labels: enhancement, infantry weapons, feature, edits textures, edits animations, edits statics

#1637 Event Level Updates
  DH_Engine/Classes/DHMapDatabase.uc
  DarkestHourDev/Maps/DH-Bremoy_Advance.rom
  DarkestHourDev/Maps/DH-Brémoy_Advance.rom
  DarkestHourDev/Maps/DH-Dog_Green_Push.rom
  DarkestHourDev/Maps/DH-Jurques_Advance.rom
  DarkestHourDev/Maps/DH-Jurques_Dusk_Advance.rom
Labels: edits levels
