Repository DarklightGames/DarkestHour, pull requests merged in 2023-01, with the labels that each got.

#1539 Tweaks and Fixes to Various Levels
  DH_Engine/Classes/DHMapDatabase.uc
  DarkestHourDev/Maps/DH-Armored_Bautzen_Clash.rom
  DarkestHourDev/Maps/DH-Armored_Freyneux_Advance.rom
  DarkestHourDev/Maps/DH-Armored_Gran_Advance.rom
  DarkestHourDev/Maps/DH-Armored_Raid_to_Bastogne_Advance.rom
  DarkestHourDev/Maps/DH-Cheneux_Advance.rom
  DarkestHourDev/Maps/DH-Dzerzhinsky_Tractor_Factory_Advance.rom
  DarkestHourDev/Maps/DH-Krasnyi_Oktyabr_Defence.rom
  DarkestHourDev/Maps/DH-Lutremange_Domination.rom
  DarkestHourDev/Maps/DH-Noville_Advance_Event.rom
  DarkestHourDev/Maps/DH-Stavelot_Defence.rom
  DarkestHourDev/Maps/DH-Stoumont_Advance.rom
  DarkestHourDev/Maps/DH-Targnon_Advance.rom
Labels: edits levels

#1544 Level Updates and Fixes
  DH_BritishPlayers/Classes/DHCWRadioOperatorRoles.uc
  DH_Engine/Classes/DHMapDatabase.uc
  DH_Engine/Classes/DHObjective.uc
  DH_Engine/Classes/DHSpawnProtectMineVolume.uc
  DH_LevelActors/Classes/DH_ModifyDangerZoneInfluence.uc
  DarkestHourDev/Maps/DH-Butovo_Advance.rom
  DarkestHourDev/Maps/DH-Caen_Advance.rom
  DarkestHourDev/Maps/DH-Champs_Advance.rom
  DarkestHourDev/Maps/DH-Champs_d'Agonie_Advance.rom
  DarkestHourDev/Maps/DH-Cheneux_Advance.rom
  DarkestHourDev/Maps/DH-Jurques_Advance.rom
  DarkestHourDev/Maps/DH-Kommerscheidt_Advance.rom
  DarkestHourDev/Maps/DH-Rakowice_Advance.rom
  DarkestHourDev/Maps/DH-Rederitz_Advance.rom
  DarkestHourDev/Maps/DH-Stavelot_Defence.rom
  DarkestHourDev/Maps/DH-Targnon_Advance.rom
  DarkestHourDev/Maps/DH-Ten_Aard_Advance.rom
  DarkestHourDev/Maps/DH-Ten_Aard_Clash.rom
Labels: edits levels

#1530 Made Pakwagen require a tank role
  DH_Vehicles/Classes/DH_SdKfz251_22Transport.uc
Labels: enhancement

#1542 Recoil curves on self loading rifles
  DH_Weapons/Classes/DH_G41Fire.uc
  DH_Weapons/Classes/DH_G43Fire.uc
  DH_Weapons/Classes/DH_M1A1CarbineFire.uc
  DH_Weapons/Classes/DH_M1CarbineFire.uc
  DH_Weapons/Classes/DH_M1GarandFire.uc
  DH_Weapons/Classes/DH_SVT38Fire.uc
  DH_Weapons/Classes/DH_SVT40Fire.uc
  DarkestHourDev/Animations/DH_Garand_1st.ukx
Labels: edits animations

#1540 Changes to constructions: danger zone placement and visibility
  DH_Engine/Classes/DHConstruction.uc
  DH_Engine/Classes/DHMapIconAttachment_Resupply.uc
  DarkestHourDev/Textures/DH_InterfaceArt2_tex.utx
Labels: enhancement, edits textures

#1541 gorlitz changes and size category adjustments
  DH_Engine/Classes/DHMapDatabase.uc
  DarkestHourDev/Maps/DH-Gorlitz_Push.rom
Labels: edits levels
