Repository DarklightGames/DarkestHour, pull requests merged in 2024-07, with the labels that each got.

#1714 Updates from MDH:
  DarkestHourDev/Maps/DH-Black_Day_July_Advance.rom
  DarkestHourDev/Maps/DH-Grain_Elevator_Advance.rom
  DarkestHourDev/Maps/DH-Makhnovo_Advance.rom
Labels: edits levels

#1711 Armored Yaryshivka:
  DH_Engine/Classes/DHMapDatabase.uc
  DarkestHourDev/Maps/DH-Armored_Yaryshivka_Domination.rom
Labels: edits levels

#1712 Reichswald Performance Fix
  DarkestHourDev/Maps/DH-Reichswald_Advance.rom
Labels: edits levels

#1710 Merge `character-animations` branch
  DH_Engine/Classes/DHMortarVehicleWeaponPawn.uc
  DH_Engine/Classes/DHPawn.uc
  DH_Engine/Classes/DHProjectileFire.uc
  DH_Weapons/Classes/DH_M2MortarVehicleWeaponPawn.uc
  DarkestHourDev/Animations/DHCharactersGER_anm.ukx
  DarkestHourDev/Animations/DH_Mortars_1st.ukx
Labels: edits animations

#1715 Fixes and Tweaks for Cheneux and Dog Green:
  DarkestHourDev/Maps/DH-Cheneux_Advance.rom
  DarkestHourDev/Maps/DH-Dog_Green_Push.rom
Labels: edits levels

#1716 Hotfix for New Maps
  DarkestHourDev/Maps/DH-Armored_Yaryshivka_Domination.rom
  DarkestHourDev/Maps/DH-Reichswald_Advance.rom
Labels: edits levels

#1713 Squad name is reset to default when a new squad leader is assigned
  DH_Engine/Classes/DHSquadReplicationInfo.uc
Labels: squads, feature

#1704 Fixed visibility of mortar shells in third person animations
  DH_Engine/Classes/DHMortarVehicleWeapon.uc
  DH_Engine/Classes/DHMortarVehicleWeaponPawn.uc
  DH_Weapons/Classes/DH_Kz8cmGrW42VehicleWeapon.uc
  DH_Weapons/Classes/DH_M2MortarVehicleWeapon.uc
  DarkestHourDev/Animations/DH_Mortars_3rd.ukx
Labels: bug, animation, edits animations

#1717 Chenux and Reichswald Fixes
  DarkestHourDev/Maps/DH-Cheneux_Advance.rom
  DarkestHourDev/Maps/DH-Reichswald_Advance.rom
Labels: edits levels
